.mobile-logo{
    display: none;

}
.mobile-logo img{
   
    width: 50%;
    height: 50%;
    transform: translate(-35%,-20%);
}
.m-navbar{
    
}
.topnav{
    position: fixed;
    display: grid;
    background-color: #FFC96F;
    font-size: 25px;
    text-align: center;
    top:0;
    left: 0;
    width: 100%;
}


.mobile-gallery {
    display: none;
}
.mobile-gallery span img{
    margin-top: 30px;
}

.mobile-gallery img{
    display: grid;
    border-radius: 25px;
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

@media screen and (max-width:1140px) {
    .header{
        display: none;
    }
    .gallery-wrap{
        display: none;
    }
    .image-cover{
        background-position: top center;
        background-size: cover;
    }   
    .mobile-logo {
        display: block;
    }
    
    .mobile-gallery{
        display: block;
    }
    
}

@media screen and (max-width:550px) {
    .image-cover{
        height: 50rem;
    }
    
}


