.mobile-logo{
    display: none;
    width: 50%;
    height: 50%;
    transform: translate(10%,10%);
}
.mobile-logo img{
    border: 1px solid #FFBF00 ;
    background-color: #EEEEEE;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-35%,-20%);
}

.mobile-container{
    display: none;
}

@media screen and (max-width:1140px) {
    .header{
        display: none;
    }
    .gallery-wrap{
        display: none;
    }
    .image-cover{
        background-position: top center;
        background-size: cover;
    }   
    .mobile-logo {
        display: block;
    }
   
    
}

@media screen and (max-width:550px) {
    .image-cover{
        height: 50rem;
    }
    
}


